$purple: #71454E;

$darkGray: #2A2B2A;
$lightGray: #7F7979;

$lightBlue: #768699;
$darkBlue: #313B61;

$primary: $darkBlue;
$secondary: $lightGray;
$bgColor: $darkGray;

$header-font: serif;
$body-font: sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: $darkGray;
}

p {
    margin-bottom: 12px;
}

a {
    color: $lightBlue;
    text-decoration: underline;

    &:hover {
        color: $darkBlue
    }

    &:visited {
        color: $purple;
    }
}

.centered {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: $lightBlue;
    color: #ffffff;

    font-family: $header-font;
    font-size: 24px;
    font-weight: 700;

    padding: 24px 12px;
}

.body {
    padding: 24px 12px 0px 12px;

    font-family: $body-font;
    font-size: 16px;

    color: #ffffff;
}

.heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 12px;
}

.criteria-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 6px;

    text-decoration: none;
}

.criteria-circle {
    background: $darkBlue;
    margin-right: 12px;
    flex: 0 0 32px;
    height: 32px;
    border-radius: 50%;
}

.criteria-info {
    text-decoration: none;
    color: #ffffff;
}
